html {
    font-family: Roboto;
    padding:0;
    margin:0;
} 

.main_container {
    background-color: #1F2937;
    padding: 0 100px;
}
* {
    outline:0px solid red;
}

.headers {
    font-size:18px;
}

ul {
    display:flex;
    list-style-type: none;
    padding:0;
    margin:0;
}

.header_links {
    display:flex;
    justify-content: space-evenly;
    gap:20px;
    align-items:center;
}   

.sub_header {
    display:flex;
    justify-content: space-between;

}

.sub_writings {
    align-self: center;
}
.subtitle {
    font-size:48px;
    color:#F9FAF8;
    font-weight:900;
}

.subtitle_sub {
    font-size:18px;
    color:#E5E7EB;
}

.button1 {
    background-color:#3882F6;
}